
body,
html {
  width: 100%;
  height: 100%; 
}

@font-face {
    font-family: 'Ailerons';
    src: url(Ailerons-Typeface.otf);
    font-weight: bold;
}

body
{background-image: url("header.jpg");
background-size:cover;

background-position:center;
background-repeat: repeat-y;
background-image: linear-gradient(rgba(150, 150, 150, 0.2), rgba(150, 150, 150, 0.5)), url(header.jpg);
overflow: hidden;



}


.container  {
  
  
  text-transform: uppercase;
  justify-content: center;
  text-align: center;
  width: 1000px;
  
  }

 h1 {
  font-size: 35px;
  margin-top: 180px;
  margin-bottom: 10px;
  font-family: 'Ailerons', comfortaa;
  color: black;
  border-bottom: solid;
  border-bottom-width: 1px;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;

 
  text-align: center;


 
 }
  
.subheader {
    
    font-family: montserrat;
    margin-top: 10px;
    border-bottom: 5px;
    font-size: 80px;
    color:white;
    text-align: center;


  }

h3 {
  font-size: 60px;
  text-align: center;
}

.subheader2 {
    
    font-size: 10px;
    margin-top:.1px;
    margin-bottom:50px;
    color: orange;
    text-align: center;
  }

  
.btn-primary {

  margin-top: 50px;
  margin-bottom: 50px;
  text-transform: uppercase;
  font-family: sans-serif;
  width:191.125;
  height: 20;
  transition: transform 2s;
  background: transparent; 
  text-align: center; 
}




.btn-primary:hover {
	background-color: transparent;
  color: orange;
  border-color: teal;
  text-shadow: teal;
  transform: (1.1);
  transform-style: preserve-3d;


  
}
